{% extends 'base.html' %}
<!--Don't forget your import here-->
{% from 'bootstrap4/form.html' import render_form %}
{% block title %} Fit Mind Readers | Edit {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Edit Book Rating</h1>
      <h3>{{ book_selected.title }} - {{ book_selected.author  }}</h3>
      <p>Rating: {{book_selected.rating}}/10</p>
      <!-- This is where your WTForm will go -->
      {{ render_form(form, novalidate=True) }}
      </br><a class="btn btn-warning"
              href="{{ url_for('home') }}"
              role="button">Home!</a>
    </div>
  </div>
</div>
{% endblock %}
