{% extends 'base.html' %}
<!--Don't forget your import here-->
{% block title %} Fit Mind Readers {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Fit Mind Readers</h1>
    <div class="col-sm-12 col-md-8">
    {% if not all_books %}
        <p>No Books available.</p>
    {% else %}
        {% for book in all_books %}
        <ul>
          <li>{{ book.title }} - {{ book.author }} - {{ book.rating}}/10
              <a href="{{ url_for('edit', book_id=book.id) }}">Edit Rating </a></li>
        </ul>
        {% endfor %}
    {% endif %}
    <a class="btn btn-success" href="{{ url_for('add') }}">Add New Book</a>
    </div>
  </div>
</div>
{% endblock %}
