<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guess</title>
</head>
<body>
    <h1>Blogs</h1>
    <h3><a href="{{ url_for('index') }}">Home</a></h3>
    <h3><a href="{{ url_for('guess', name='rohan') }}">Guess</a></h3>
    {% for blog_post in blog_data %}
        <h1> {{ blog_post["title"] }}</h1>
        <h2> {{ blog_post["subtitle"] }}</h2>
        <p>{{ blog_post["body"] }}</p>
    {% endfor %}
</body>
<footer>
    <p>© {{ year }} Built with Love by Punit Sharma</p>
</footer>
</html>